<p>
    The Wanderer's Guide is a tool that aims to organize your traveling.
</p>

<p>
    with The Guide, you may create either lists or notes. <br>
    lists organize your thoughts in a numbered format <br>
    while notes encourage your thoughts to flow in a freeform manner.
</p>

<p>
    utilize The Guide in countless ways: from planning your trip ahead of time to documenting it throughout, and even unraveling your thoughts afterwards. create checklists, journal entries, and everything in between; The Guide is versatile. you can use it for non-travel organization as well! 
</p>

<p>The Guide is yours.</p>

<p>enjoy!</p>

<a href="/" class="authBttn">back</a>