<h1>{{title}}</h1>

<a href="/auth/signup">sign up</a>
<br>
<a href="/auth/login">log in</a>

<h4 style="font-style: oblique; color:#fedec4; text-shadow: 1px 1px black">organize your thoughts then travel seamlessly</h4>