<h1>{{title}}</h1>

<a href="/about" class="authBttn">about</a>
<br>
<a href="/auth/signup" class="authBttn">sign up</a>
<br>
<a href="/auth/login" class="authBttn">log in</a>

<h4 style="font-style: oblique; color:#fedec4; text-shadow: 1.5px 1.5px black">organize your thoughts then travel seamlessly</h4>

<a class="credit" target="_blank" href="https://icons8.com/icon/114604/airplane-take-off" style="text-decoration: none;">favicon link</a>

<p class="credit">photo by derek croucher</p>