<ul id="navbar">
        <li><a href="/main">home</a></li>
        <li><a href="/auth/signup">sign up</a></li>
        <li><a href="/auth/login">log in</a></li>
        <li><a href="/auth/logout">log out</a></li>
      </ul>

<a href="/list/list-home" class="listsBttn"> 
    <h2>lists</h2>
</a>

<a href="/note/note-home" class="notesBttn">
    <h2>notes</h2>
</a>