<ul id="navbar">
        <li><a href="/auth/logout">log out</a></li>
      </ul>

<h1>welcome, {{user.name}}!</h1> 

<a href="/list/list-home" class="authBttn"> 
    <h2>lists</h2>
</a>

<a href="/note/note-home" class="authBttn">
    <h2>notes</h2>
</a>