#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 30px;
}

#navbar li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #c66d5e;
}

#navbar li a:hover {
  color: #e8644d;
  text-decoration: dotted;
}

body {
  padding: 50px;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: black; */
  height: 100vh;
}

.authBttn {
  color: #c66d5e;
  text-decoration: none;
}

.authBttn:hover {
  /* color: #fedec4; */
  text-shadow: 2px 2px white;
}

button {
  transition-duration: 0.4s;
  background-color: #fedec4;
  border: none;
  border-color: #f8a889;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: #f8a889;
  color: white;
}

.matchTagColors {
  transition-duration: 0.4s;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.matchTagColors:hover {
  background-color: #f8a889;
  color: white;
}

.authStyling {
  background-color: rgba(232, 100, 77, 0.2);
  border: none;
  outline: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

/* .bttn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */

.credit {
  font-size: xx-small;
  color: #e8644d;
  /* margin-top: 780px; */
  position: fixed;
  right: 10px;
  bottom: 0px;
  height: 10px;
}