<h1>create new list</h1>

<form action="/list/add-list" method="post">
    <ol>
        <li>
            <input type="text"> <button>+</button>
        </li>
    </ol>
    
    {{!-- plus button to add an extra li to form --}}

    <button>Submit</button>
</form>
