<h1>create new list</h1>

<form action="/list/add-list" method="post">

<input type="text" name="title" placeholder="list title">

<div class="list" style="width: 220px;">
    
    <ol id="list">
        <li>
            <input type="text" name="content">
        </li>
    </ol>
    
    <button class="add-new" style="float: right;
    margin-top: -35px;" type="button">+</button>
</div>

    <button type="submit">Submit</button>
</form>

{{#if message}}
<p style="color: red;">{{message}}</p>
{{/if}}

<script src="/javascripts/eventListener.js"></script>