<h1>all lists</h1>

{{#each foundLists}}
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    <button>
         <a href="{{id}}" style="text-decoration: none; color: black;">view</a>
    </button>
    <button>
        <a href="">edit</a>
    </button>
    <button>
        <a href="">delete</a>
    </button>
{{/each}}



