<h1>all lists</h1>

<h3>thumbnail preview of list 1</h3>
<div>
    <form action="">
        <button>view</button>
        <button>edit</button>
        <button>delete</button>
    </form>
</div>

<h3>thumbnail preview of list 2</h3>
<div>
    <form action="">
        <button>view</button>
        <button>edit</button>
        <button>delete</button>
    </form>
</div>

<h3>thumbnail preview of list 3</h3>
<div>
    <form action="">
        <button>view</button>
        <button>edit</button>
        <button>delete</button>
    </form>
</div>

<h3>thumbnail preview of list 4</h3>
<div>
    <form action="">
        <button>view</button>
        <button>edit</button>
        <button>delete</button>
    </form>
</div>