<form action="/list/{{_id}}/edit-list" method="post">
    <input type="text" name="title" value="{{title}}">

<div class="list" style="width: 220px;">
    <ol id="list">
        {{#each content}}
            <li><input type="text" name="content" value="{{this}}"></li>
        {{/each}}
    </ol>

    <button class="add-new" style="float: right;
        margin-top: -35px;" type="button">+</button>
</div>
    
    <button type="submit">submit changes</button>

    <button>
        <a href="/list/all-lists" style="text-decoration: none; color: black;">back</a> 
        {{!-- CHANGE THIS TO EDITING THE PARTICULAR LIST --}}
    </button>

    {{!-- <form action="/list/{{_id}}/edit-list" method="get" style="text-decoration: none; color: black;">
        <button type="submit">back</button>
    </form> --}}
</form>

<script src="/javascripts/eventListener.js"></script>