<ul id="navbar">
        <li><a href="/main">home</a></li>
        <li><a href="/auth/signup">sign up</a></li>
        <li><a href="/auth/login">log in</a></li>
        <li><a href="/auth/logout">log out</a></li>
        <li><a href="/note/note-home">notes</a></li>
      </ul>

<a href="/list/add-list"> 
    <h2>add list</h2>
</a>

<a href="/list/all-lists">
    <h2>all lists</h2>
</a>