<h3>{{title}}</h3>
<p>{{content}}</p>

<button>
    <a href="" style="text-decoration: none; color: black;">edit</a>
</button>

<button>
    <a href="" style="text-decoration: none; color: black;">delete</a>
</button>

<button>
    <a href="/list/all-lists" style="text-decoration: none; color: black;">back</a>
</button>