<h1>log in</h1>

<form action="/auth/login" method="post">

    <div>
        <label for="emailId">email</label>
        <input type="email" name="email" id="emailId" class="authStyling">
    </div>

    <div>
        <label for="passwordId">password</label>
        <input type="password" name="password" id="passwordId" class="authStyling">
    </div>

    <button type="submit">let's go</button>
</form>

{{#if message}}
<p style="color: red;">{{message}}</p>
{{/if}}

<h4 style="font-style: oblique; color:#fedec4; text-shadow: 1px 1px black">organize your thoughts then travel seamlessly</h4>