<h1>create new note</h1>

<form action="/note/add-note" method="post">

    <label for="noteId">what's on your mind?</label>
    <br>
    <input type="text" name="title" placeholder="note title">
    <br>
    <textarea name="content" id="noteId" cols="30" rows="10" placeholder="write a journal entry, random thoughts, or anything else you can think of..."></textarea>
    <button>Submit</button>
</form>

{{#if message}}
<p style="color: red;">{{message}}</p>
{{/if}}