<h1>all notes</h1>

<h3>thumbnail preview of note 1</h3>
<div>
    <form action="">
        <button>view</button>
        <button>edit</button>
        <button>delete</button>
    </form>
</div>

<h3>thumbnail preview of note 2</h3>
<div>
    <form action="">
        <button>view</button>
        <button>edit</button>
        <button>delete</button>
    </form>
</div>

<h3>thumbnail preview of note 3</h3>
<div>
    <form action="">
        <button>view</button>
        <button>edit</button>
        <button>delete</button>
    </form>
</div>

<h3>thumbnail preview of note 4</h3>
<div>
    <form action="">
        <button>view</button>
        <button>edit</button>
        <button>delete</button>
    </form>
</div>