<h3>{{title}}</h3>
<p>{{content}}</p>

<form action="/note/{{_id}}/edit-note" method="get" style="text-decoration: none; color: black;">
    <button type="submit">edit</button>
</form>

<form action="/note/{{_id}}/delete-note" method="post" style="text-decoration: none; color: black;">
    <button type="submit">delete</button>
</form>

<button>
    <a href="/note/all-notes" style="text-decoration: none; color: black;">back</a>
</button>